/*
position: static    - default (no top, left-bottom, right attributes
position: relative  - positioned relative to its original location
position: fixed     - positioned relative to viewport
position: absolute  - relative to its closest ancestor (hopwfully that's usually the parent

this is all based on a container that is 550W x 730h
 */

/* =======================================================
TITLE AND GAMEBOARD - Grid defined by ttt-continer
8 COLUMNS
7 ROWS
ROW 1      : TITLE
ROWS 2 - 4 : game board
ROW 5      : Pieces / Home box
ROW 6      : Message row
ROW 7      : Button row
========================================================== */

.ttt-container {
    text-align: center; display: grid;
    grid-template-columns: 40px 90px 90px 90px 90px 90px 90px 40px;
    grid-template-rows: 130px 180px 180px 180px 100px 50px 60px;


    font-family: "Arial", sans-serif;
    background-color: transparent;
    height: 1000px;
    width: 1000px;
    resize: both;
}
/* shorthand for specifying a grid area is: */
/*grid-row-start, grid-column-start, grid-row-end, and grid-column-end*/
#game-title {
    grid-area: 1 / 1 / 1 / 8;
    color: #d7a62f;
    height: 100%;
    text-align: center;
    margin-bottom: 0;
}

#game-title:after {margin-bottom: 30px}

#s-0 {grid-area: 2 / 2 / span 1 / span 2;}
#s-1 {grid-area: 2 / 4 / span 1 / span 2;}
#s-2 {grid-area: 2 / 6 / span 1 / span 2;}
#s-3 {grid-area: 3 / 2 / span 1 / span 2;}
#s-4 {grid-area: 3 / 4 / span 1 / span 2;}
#s-5 {grid-area: 3 / 6 / span 1 / span 2;}
#s-6 {grid-area: 4 / 2 / span 1 / span 2;}
#s-7 {grid-area: 4 / 4 / span 1 / span 2;}
#s-8 {grid-area: 4 / 6 / span 1 / span 2;}

#left {
    grid-area: 2 / 1 / span 5 /  span 1;
    position: relative;
}

#right {grid-area: 2 / 8 / span 5 /  span 1;}
#choice-0 {grid-area: 5 / 2 / span 1 / span 1;}
#choice-1 {grid-area: 5 / 3 / span 1 / span 1;}
#choice-2 {grid-area: 5 / 4 / span 1 / span 1;}
#choice-3 {grid-area: 5 / 5 / span 1 / span 1;}
#choice-4 {grid-area: 5 / 6 / span 1 / span 1;}
#choice-5 {grid-area: 5 / 7 / span 1 / span 1;}

#home-box {grid-area: 5 / 4 / span 1 / span 2;}
#choices  {grid-area: 5 / 2 / span 1 / span 6;}
#choose-player {
    grid-area:  6 / 3 / span 1 / span 4;
    color: #00aabe;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    margin-top: 15px;
}
#sound-control {grid-area: 7 / 1 / 7 / 3;}
#buttons {grid-area: 7 / 4 / 7 / 5;}

/* =======================================================
END CONTROLS
========================================================== */

h1 {
    font-family: "Rock Salt", Times, serif;
    font-size: 55px;
    color: #00aabe;
    margin: auto;
}

#output {background-color: green; top: 0; bottom: 0; left: 0; right: 0; position: fixed;}

.square > div {align-self: center; justify-self: center}

.square > img {align-self: center; justify-self: center}

.dragover {
    opacity: 0.4;
}

button.ticTacToe {
    background-color: #00aabe;
    border: none;
    color: white;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    width: 120px;
}


.man-wrapper {
    /*display: table-cell;*/
    display: grid;
    vertical-align: middle;
    width: 110px;
    height: 110px;
    opacity: 1.0;
    justify-content: center;
    align-items: center;
    margin: auto
}



.gamePiece {
    /*width: 65px;*/
    /*height: 65px;*/
    margin: 0;
    z-index: 100;
}

.caption {
    width: 70px;
    height: 30px;
    text-align: center;
}


.row__ticTacToe:after {
    content: "";
    display: table;
    clear: both;
}

.square {
    display: grid;
    font-family: Muli, sans-serif;
    color: darkgoldenrod;
    background-color: transparent;
    user-select: none;
}
.square--big-font {
    font-size: 40px;
}
.square--smaller-font {
    font-size: 28px;
}
.border__right {
    border-right: 5px solid #00aabe;
}

.border__bottom {
    border-bottom: 5px solid #00aabe;
}

#new-game {
    text-align: center;
    padding-top: 15px;
}

/**
While an object is being dragged it is given the 'dragging' class.
it will be semi-transparent while dragging
 */
.dragging {opacity: 0.5;}

/*.dragover {background-color: #f2fbfc; opacity: 1}*/
/*.dragover {background-color: white; opacity: 0.5}*/

.choice {
    z-index: 1;
    border: 5px outset lightgrey;

    border-radius: 8px;
    margin: 24px;
    display: grid;
}

.choice-box {
    border-radius: 15px;
    border: 3px solid lightgrey;
    padding: 5px;
}

div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
}

